<body class="text-center">
  <main class="form-signin w-100 m-auto">
    <form (ngSubmit)="submit()" #myForm="ngForm">
      <img
        class="mb-4"
        src="assets/userImage.png"
        alt=""
        width="155"
        height="155"
      />
      <h1 class="h3 mb-3 fw-normal">Sign in</h1>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          name="email"
          [(ngModel)]="formLogin.email"
          #email="ngModel"
          required
        />
        <label for="floatingInput">Email address</label>
        <div
          *ngIf="email.invalid && (email.touched || email.dirty)"
          class="rounded"
          style="text-align: center; width: 100%; color: rgb(183, 14, 14)"
        >
          Email field must be Valid.
        </div>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          name="password"
          [(ngModel)]="formLogin.password"
          #password="ngModel"
          required
        />
        <label for="floatingPassword">Password</label>
        <div
          *ngIf="password.invalid && (password.touched || password.dirty)"
          class="rounded"
          style="text-align: center; width: 100%; color: rgb(183, 14, 14)"
        >
          Password field must be Valid.
        </div>
      </div>
      <button
        class="w-100 btn btn-lg btn-primary"
        type="submit"
        [disabled]="myForm.form.invalid && isLoading()"
      >
        <ng-container *ngIf="isLoading()">Loading! ...</ng-container>
        <ng-container *ngIf="!isLoading()">Sign in</ng-container>
      </button>
    </form>
  </main>
</body>
