<body class="text-center">
  <main class="form-signin w-100 m-auto">
    <form (ngSubmit)="submit()">
      <img
        class="mb-4"
        src="assets/userImage.png"
        alt=""
        width="155"
        height="155"
      />
      <h1 class="h3 mb-3 fw-normal">Sign in</h1>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          name="email"
          [(ngModel)]="formLogin.email"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          name="password"
          [(ngModel)]="formLogin.password"
        />
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">
        Sign in
      </button>
    </form>
  </main>
</body>
