<div class="container mt-6">
  <div class="row">
    <div
      class="col-md-3"
      *ngFor="
        let i of Users
          | paginate
            : {
                itemsPerPage: limit,
                currentPage: page,
                totalItems: total
              }
      "
    >
      <div class="card mb-4">
        <img [src]="i.photo" alt="Test" />
        <h1 class="text-uppercase fw-bold fs-2">{{ i.title }}</h1>
        <p class="price">{{ i.price | currency }}</p>
        <p class="text">{{ i.longDescription }}</p>
        <p><button class="btn btn-primary">Add to Card</button></p>
      </div>
    </div>
    <pagination-controls
      (pageChange)="pageChangeEvent($event)"
    ></pagination-controls>
  </div>
</div>
