.price {
  color: grey;
  font-size: 22px;
}
.btn {
  color: white;
  background-color: rgb(6, 196, 78);
}
button:hover {
  background-color: #132edd; /* Green */
  color: rgb(255, 243, 24);
}

.text {
  height: 100%;
}

/* padding: 5px; */
/* text-align: center; */
/* cursor: pointer; */
/* width: 50%; */
/* font-size: 18px; */
