<div class="container">
  <div class="row">
    <div
      class="col-md-2 mx-1 mb-1 p-1 card"
      *ngFor="
        let product of crmProduct
          | paginate
            : {
                itemsPerPage: count,
                currentPage: page,
                totalItems: total
              }
      "
    >
      <div>
        <div style="height: 350px">
          <img
            class="card w-100 h-100"
            [src]="'data:image/jpg;base64,' + product.documentBody"
            alt="image"
          />
        </div>

        <div class="text-center">
          <h4
            routerLink="#"
            class="text-uppercase fs-2"
            style="cursor: pointer"
          >
            {{ product.ProductName }}
          </h4>
          <p class="price">{{ product.ProductPrice | currency }}</p>
          <p class="text">{{ product.ProductDetails }}</p>
          <p>
            <button (click)="addToCard()" class="btn btn-primary">
              Add to Card
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls
    (pageChange)="pageChangeEvent($event)"
  ></pagination-controls>
</div>

<!-- <div class="card mb-4">
        <img
          [src]="'data:image/jpg;base64,' + product.documentBody"
          alt="{{ product.fileName }}"
          style="height: 400px; width: 250px"
        />
        <p routerLink="#" class="text-uppercase fs-2" style="cursor: pointer">
          {{ product.ProductName }}
        </p>
        <p class="price">{{ product.ProductPrice | currency }}</p>
        <p class="text">{{ product.ProductDetails }}</p>
        <p>
          <button (click)="addToCard()" class="btn btn-primary">
            Add to Card
          </button>
        </p>
      </div> -->
