<!-- <div
  class="container d-flex flex-column h-25"
  role="status"
  *ngIf="authservice.isLoading$ | async; else loaded"
>
  <div>
    <img class="spinner" src="assets/loading.svg" alt="Loading..." />
  </div>

  <<ng-template #loaded>
    <app-header></app-header>
    <br />
    <router-outlet></router-outlet>
    <br />
    <app-footer></app-footer>
  </ng-template>
</div> -->

<!--src/app/app.component.html-->

<div id="app" class="d-flex flex-column h-100">
  <div
    class="container spinner"
    *ngIf="authservice.isLoading$ | async; else loaded"
  >
    <img src="assets/loading.svg" alt="Loading..." />
  </div>

  <ng-template #loaded>
    <app-header></app-header>
    <br />
    <router-outlet></router-outlet>
    <br />
    <app-footer></app-footer>
  </ng-template>
</div>
